.seccion-1,.seccion-2,.seccion-3{

    margin: 2rem 4rem;
}

.producto-s1,.producto-s2,.producto-s2{
    display: flex;
    flex-direction: column;

    margin-left: 0.8rem;
    
}

.productos-starwars,.productos-cosolas,.productos-diversos{
    display: flex;
    flex-direction:row;
    box-sizing: border-box;
    margin: 2rem 0rem;
}


@media only screen and (min-width: 1199px) {
    .seccion-1,.seccion-2,.seccion-3{

        margin: 2rem 4rem;
    }
    
    .producto-s1,.producto-s2,.producto-s2{
        display: flex;
        flex-direction: column;
    
        margin-left: 0.8rem;
        
    }
    
    .productos-starwars,.productos-cosolas,.productos-diversos{
        display: flex;
        flex-direction:row;
        box-sizing: border-box;
        margin: 2rem 0rem;
    }
    
    
}
/*Celular*/

@media only screen and (max-width: 768px) {

    .seccion-1,.seccion-2,.seccion-3{

        margin: 2rem 1rem;
    }
    
    .producto-s1,.producto-s2,.producto-s2{
        display: flex;
        flex-direction: column;
    
        margin-left: 0.8rem;
        
    }
    
    .productos-starwars,.productos-cosolas,.productos-diversos{
        display: flex;
        flex-direction:row;
        box-sizing: border-box;
        flex-wrap: wrap;
        margin: 2rem 0rem;
    }
    
}
