.contactanos{
    display: flex;
    flex-direction: row;
    height: 368px;
    background: #EAF2FD;

    align-items: center;
}


.logo-ctms{
    margin-left: 150px;
    margin-top:74px ;
}

.info{
    margin-left: 112px;
    margin-top:74px ;   
}
.formulario-info{
    display: flex;
    flex-direction: column;
    margin-left: 112px;
    margin-top:74px ;  

}


@media only screen and (min-width: 1199px) {
    .contactanos{
        display: flex;
        flex-direction: row;
        height: 368px;
        background: #EAF2FD;
    
        align-items: center;
    }
    
    
    .logo-ctms{
        margin-left: 150px;
        margin-top:74px ;
    }
    
    .info{
        margin-left:0px;
        margin-top:74px ; 
    }
    .formulario-info{
        display: flex;
        flex-direction: column;
        margin-left: 112px;
        margin-top:74px ;  
    
    }

}

@media only screen and (max-width: 768px) {

    .contactanos{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction:column;
        background: #EAF2FD;
        text-align: left;
    }
    
    
    .logo-ctms{

        margin-left: 0px;
        margin-top:74px ;
    }
    
    .info{
        margin-left: 0px;
        margin-top:0px ;   
    }
    .formulario-info{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 10px ;  
    
    }
    
       
   }
   