
@media only screen and (min-width: 768px) {
    .boton-login-btyn{
        width: 166px;
        height: 40px;
        border: 1px solid #2A7AE4;
        border-radius: 35px;
        background-color: #233347;
        color: white;
    }
    .boton-login-btyn:hover{
        background-color: #1f72d8;
        color: white;
        transition: all 1s;
    }
    .boton-login2-btyn{
        width: 166px;
        height: 40px;
        border: 1px solid #2A7AE4;
        border-radius: 35px;
        background-color: white;
        margin-top: 5px;
        transition: all 1s ;
    
    }
    .boton-login2-btyn:hover{
        border: 1px solid #2A7AE4;
        background-color: #233347;
        color: white;
    }
    

}

@media only screen and (min-width: 1199px) {
    .boton-login-btyn{
        width: 182px;
        height: 51px;
        border: 1px solid #2A7AE4;
        border-radius: 35px;
        background-color: #233347;
        color: white;
    }
    .boton-login-btyn:hover{
        background-color: #1f72d8;
        color: white;
        transition: all 1s;
    }
    .boton-login2-btyn{
        width: 182px;
        height: 51px;
        border: 1px solid #2A7AE4;
        border-radius: 35px;
        background-color: white;
        margin-top: 5px;
        transition: all 1s ;
    
    }
    .boton-login2-btyn:hover{
        border: 1px solid #2A7AE4;
        background-color: #233347;
        color: white;
    }
    
    
}
/*Celular*/

@media only screen and (max-width: 768px) {

    .boton-login-btyn{
        width: 133px;
        height: 40px;
        border: 1px solid #2A7AE4;
        border-radius: 35px;
        background-color: #233347;
        color: white;
    }
    .boton-login-btyn:hover{
        background-color: #1f72d8;
        color: white;
        transition: all 1s;
    }
    .boton-login2-btyn{
        width: 133px;
        height: 40px;
        border: 1px solid #2A7AE4;
        border-radius: 35px;
        background-color: white;
        margin-top: 5px;
        transition: all 1s ;
    
    }
    .boton-login2-btyn:hover{
        border: 1px solid #2A7AE4;
        background-color: #233347;
        color: white;
    }
    
}
