.contactanos{
    display: flex;
    flex-direction: row;
    height: 368px;
    background: #EAF2FD;

    align-items: center;
}


.logo-ctms{
    margin-left: 150px;
    margin-top:74px ;
}

.info{
    margin-left: 112px;
    margin-top:74px ;   
}
.formulario-info{
    display: flex;
    flex-direction: column;
    margin-left: 112px;
    margin-top:74px ;  

}
