

@media only screen and (min-width: 768px) {
    .nav-busqueda{
        width: 272px;
        height: 40px;
        align-items: center;
        background: #F5F5F5;
        border-radius: 20px;
        border: none;
        align-items: center;
    }
    
    .nav-busqueda:focus{
        border: none;
        outline: none;
    }
    

}

@media only screen and (min-width: 1199px) {

    .nav-busqueda{
        width: 343px;
        height: 40px;
        align-items: center;
        background: #F5F5F5;
        border-radius: 20px;
        border: none;
        align-items: center;
    }
    
    .nav-busqueda:focus{
        border: none;
        outline: none;
    }
    

}

/*Celular*/
@media only screen and (max-width: 768px) {

    .nav-busqueda{
       display: none;
    }

}